*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
h1,h2,h3,h4,h5,h6,ol,ul,p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
/* BOOtstrap Dropdown Customization */
.dropdown-menu[data-bs-popper] {
    margin-top: 1rem;
}
.dropdown-menu{
    background-color: #174873;
}
.dropdown-item{
    color: #ffffff;
}
.dropdown-item:focus, .dropdown-item:hover {
    background: transparent;
    color: #e79800;
}
.dropdown-item::before{
    content: ">";
    font-size: inherit;
    color: inherit;
    margin-right: 5px;
}
/* Header 1 */
.header_1{
    font-family: 'Lato',sans-serif;
    padding:0.7rem 0;
    background-color: #00092C;
    color: white;
}
.header_phone{
    padding: 0 5px 0 10px;
}
.header_1 a{
    color: white;
}
.header_1 a:hover{
    color: white;
    opacity: 0.5;
    transition: 300ms ease-out;
}
.social_icons{
    padding: 0 5px;
}
.navbar{
    padding: 1.1rem 0;
}
/*section 2 /  Cards */
.section2 .row{
    --bs-gutter-x:0;
}
.cards{
    position: relative;
}
.cards h3,
.cards p{
    color: white;
    margin: 1rem auto;
}
.card1{
    /* background-image: url('../img/courses1.jpg'); */
    background-color: #22577E;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.card2{
  /* background-image: url('../img/course2.jpg'); */
  background-color: #5584AC;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card3{
  /* background-image: url("../img/course3.jpg"); */
  background-color: #22577E;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.overlay1{
    background-color: #0A68B1EB;
    opacity: 0.7;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0) hue-rotate(0deg);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
}
.overlay2{
    background-color: #174873EB;
    opacity: 0.7;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(0) hue-rotate(0deg);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.card-container{
    padding: 2rem;
    z-index: 10;
}
.btn1{
    padding: 10px;
    border: 0.5px solid white;
    color: white;
    background-color: transparent;
}
.btn1:hover{
    color: black;
    background-color: white;
}
/* Section 3 */
.section3{
    /* height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    margin: 3rem auto;
}
.section3 .bg{
    background: url('../img/section3.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.section3 h2{
    margin-bottom: 0.5rem;
}
.section3 span{
    color: #e79800;
}
.section3 h5{
    margin: 1rem 0;
    font-weight: 300;
}
.section3 p{
    margin-bottom: 1rem;
    line-height: 1.7;
    color: #5d5d5d;
}
.section3 a{
    color: #5d5d5d;
    border: 0.5px solid #5d5d5d;
    padding: 10px;
    transition: 300ms ease-in-out;
}
.section3 a:hover{
    background-color: #5d5d5d;
    color: white;
}
/* Section 4 */
.section4{
    background-color: #F7F7F7;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.section4-title{
    text-align: center;
}
.section4-title p{
    text-transform: capitalize;
    font-size: 0.9rem;
}
.section4-title h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.section4-title hr{
    width: 5rem;
    margin: 1rem auto;
    color: #e79800;
    border-width: 1px;
    opacity: 1;
}
.sec4-category{
    margin:1rem auto 2rem auto;
}
.sec4-category a{
    font-size: 0.9rem;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
    padding: 0 10px;
    transition: 200ms ease-in-out;
}
.sec4-category a:active{
    color: #e79800;
}
.sec4-category a:hover{
    color: #e79800;
}
.card{
    margin:0 auto;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    width:90%;
}
.card-title{
    font-weight: 300;
}
.card-text{
    font-size: 1rem;
    line-height: 1.7;
    color: #5d5d5d;
    font-family: 'Montserrat', sans-serif;
}
.card-body ul{
    margin-bottom: 1rem;
}
.card-body li{
    list-style: none;
    font-size: 0.9rem;
    line-height: 1.7;
    color: #5d5d5d;
}
.card-body li::before{
    content: ">>";
    margin-right: 10px;
}
.card-body{
    position: relative;
}
.t-card{
    position: absolute;
    top: -50px;
}
.card-body img{
    width: 65px;
    border-radius: 100%;
    z-index: 20;
    position: relative;
    border:2px solid #e79800;
    transition:transform 200ms ease-in-out;
}
.card-body img:hover{
    transform: scale(1.2);
}
.card-body .t-name{
    border-radius: 14px;
    color: white;
    line-height: 1rem;
    background-color: #174873;
    position: relative;
    left: -20px;
    padding:10px 10px 10px 24px;
    z-index: 10;
}
.t-card .t-price{
    border-radius: 14px;
    color: white;
    line-height: 1rem;
    background-color: #174873;
    padding:10px;
}
.t-name:hover,
.t-price:hover{
    color: #e79800;
}
.sec4-card > a{
    background-color: #174873;
    color: #FFF;
    border: 0px !important;
    padding: 10px;
    transition: 150ms ease-in-out;
}
.sec4-card > a:hover{
    background-color: #e79800;
}
/* Section 5 */
.section5{
    background-color: #ffffff;
}
#owl-carousel3{
    margin: 2rem auto;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
    background-color: #e79800;
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: 100%;
}
.car-item h3{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}
.car-item img{
    /* width: 50% !important; */
    border-radius: 100%;
    margin: 0rem auto;
    border: 5px solid #e79800;
    transition: 200ms ease-in;
}
.car-item img:hover{
    opacity:0.6;
}
.car-social{
    position: relative;
    top:-75px;
}
.car-social .fa-twitter,
.car-social .fa-linkedin{
    color: #ffffff;
    border-radius: 100%;
    padding: 5px;
    margin: 0 5px;
    background-color: #e79800;
    transition: 200ms ease-in;
}
.car-social .fa-twitter:hover,
.car-social .fa-linkedin:hover,
.car-social .fa-facebook-f:hover{
    color: #e79800;
    background-color:#ffffff ;
}
.car-social .fa-facebook-f{
    color: #ffffff;
    border-radius: 100%;
    padding: 5px 8px;
    margin: 0 5px;
    background-color: #e79800;
    transition: 200ms ease-in;
}
.item > img:hover{
    opacity: 0.8;
}
.car-img-sec{
    position: relative;
}
/* Section 6 */
.section6{
    background-color: #2F2F2FE6;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.section6-title{
    text-align: center;
}
.section6-title p{
    text-transform: capitalize;
    font-size: 0.9rem;
    color: white;
}
.section6-title h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #ffffff;
}
.section6-title hr{
    width: 5rem;
    margin: 1rem auto;
    color: #ffffff;
    border-width: 1px;
    opacity: 1;
}
.contain {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
  }
.contain .owl-prev, .contain .owl-next{
    color:white;
}
.sec6-card .card-body {
    padding: 2rem 1rem;
}
.sec6-card .card-body .card-title{
    font-family: 'Montserrat', sans-serif;
    color: #2f2f2f;
    /* font-size: 2rem; */
}
.sec6-card a{
    color: #2f2f2f;
    font-weight: 500;
    border: 1px solid #2f2f2f;
    padding: 10px;
    transition: 230ms ease-in-out;
}
.sec6-card a:hover{
    background-color: #2f2f2f;
    color: #ffffff;
}
/* Section 7 */
.section7{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #ffffff;
}
    /* ** img gallary ** */
    #demo {
        height:100%;
        position:relative;
        overflow:hidden;
      }
      
      
      .green{
        background-color:#6fb936;
      }
              .thumb{
                  margin-bottom: 30px;
              }
              
              .page-top{
                  margin-top:85px;
              }
      
         
      img.zoom {
          width: 100%;
          height: 200px;
          border-radius:5px;
          object-fit:cover;
          -webkit-transition: all .3s ease-in-out;
          -moz-transition: all .3s ease-in-out;
          -o-transition: all .3s ease-in-out;
          -ms-transition: all .3s ease-in-out;
      }
              
       
      .transition {
          -webkit-transform: scale(1.2); 
          -moz-transform: scale(1.2);
          -o-transform: scale(1.2);
          transform: scale(1.2);
      }
          .modal-header {
         
           border-bottom: none;
      }
          .modal-title {
              color:#000;
          }
          .modal-footer{
            display:none;  
          }
      /* ** Img gallary end ** */
/* Section 9 */
.section9{
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.section9-title{
    text-align: center;
}
.section9-title p{
    text-transform: capitalize;
    font-size: 0.9rem;
}
.section9-title h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.section9-title hr{
    width: 5rem;
    margin: 1rem auto;
    color: #e79800;
    border-width: 1px;
    opacity: 1;
}
.sec9-card p{
    line-height: 1.4;
}
.sec9-card cite{
    font-size: 0.8125rem;
}
/* Footer */

.footer1{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #262a2e;
    color: white;
}
/* .footer1 .line{
    width: 50px;
    height:3px;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 2rem ;
}*/
.footerContent img{
    margin-bottom: 15px;
    width: 6rem;
}
.footerContent .list-unstyled li {
    color: #eaeaea;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 0.9rem;
}
.footerContent .list-unstyled .fa{
    margin-right:10px ;
    color: #e79800;
}
.footerContent .list-unstyled li a {
    color: #929497;
}
.footerContent .list-unstyled li a:hover {
    color: #e79800;
}
.footerContent h5 {
    font-size: 15px;
    color: #ffffff;
    line-height: 21px;
    margin: 10px 0;
    text-transform: uppercase;
    font-family: "roboto",sans-serif;
    /* border-bottom: dotted; */
    padding: 10px 0px;
}
.footerContentLi{
    padding-left: 1.5rem;
}
/* .footerContent:after {
    content: '';
    width: 60px;
    height: 4px;
    background: white;
    position: absolute;
    bottom: -4px;
} */
footer .footercontent li a {
    color: #e8e8e8;
    font-weight: 500;
    font-size: 0.9rem;
}
.footer1 li{
    list-style:none;
}
.footer1 a{
    color: white;
    font-weight: 500;
} 
.footer1 a:hover{
    color: #e79800;
}
/*  */
footer .fa-angle-double-right{
    font-size: 0.5rem;
    padding-right: 5px;
    color: #e79800;
}
.footerContent p {
    color: #cecece;
}
.list-inline li{
    display: inline-block;
    padding: 0 5px 0 5px;
}
.copyRight {
    display: block;
    background-color: #232629;
    color:#cecece;
    padding: 30px 0;
    border-top:1px solid #929497;
    font-size: 0.8rem;   
}
.copyRight a{
    color: #cecece;
    font-size: 0.8rem;
}
.copyRight .copyRightText{
    text-align: end;
}
@media  screen and (max-width:996px) {
    .header_1 p{
        text-align:center;
    }
}
@media  screen and (max-width:768px) {
    .dropdown-menu[data-bs-popper] {
        margin-top: 0.125rem;
    }
    .header_1 p{
        text-align:center;
        padding: 10px 0;
    }
    .slide-title{
        font-size: 1.5rem;
    }
    .section3{
        height: auto;
        margin: 2rem 0;
    }
    .section3 h2,h5{
        text-align: center;
    }
    .section3 p{
        text-align: justify;
    }
    .card{
        width: 100%;
    }
    .copyRight .copyRightText{
        text-align: center;
        padding-top: 10px;
    }
    
}


@media  screen and (max-width:575px){
    .car-social{
        position: relative;
        top:-115px;
    }
    .car-item img{
        margin: 0 auto;
    }
    .car-social .fa-twitter,
    .car-social .fa-linkedin{
        color: #ffffff;
        border-radius: 100%;
        padding: 8px;
        margin: 0 10px;
        font-size: 2rem;
        background-color: #e79800;
    }
    .car-social .fa-facebook-f{
        color: #ffffff;
        border-radius: 100%;
        padding: 8px 15px;
        font-size: 2rem;
        margin: 0 10px;
        background-color: #e79800;
    }
    .footer1 .line{
        margin-bottom: 0.5rem ;
    }
    .footer1 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    }
    .copyRight {
        padding: 10px;
    }
    .copyRight .list-inline{
        text-align: center;
    }
}